<h1>User home </h1>

<ul>
  <% if Current.user %>
    

      Hello <%= Current.user.email.to_s.split('@')[0].upcase %>
   
    <%
=begin%>
 <li>
      <%= button_to "Logout", logout_path, method: :delete %>
    </li>  
<%
=end%>

    <h3>Saved Passwords</h3>


<table>
  <tr>
    <th>Website</th>
    <th>Username</th>
    <th>Password</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
      <% @credential.each do |credential| %>
     
  <tr>
    <td><%= credential.website %></td>
    <td><%= credential.username %></td>
    <td><%= credential.password %></td>
    <td><%= link_to "Edit", edit_credential_path(credential) %></td>
    <td><%= link_to "Destroy", credential_path(credential), data: 
  {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></td>
  </tr>


<%
=begin%>
 <%= link_to "Edit", edit_credential_path(credential) %>
<%= link_to "Destroy", credential_path(credential), data: 
  {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %> 
<%
=end%>
    
      <% end %>
</table>
<style>
table, th, td {
  border: 1px solid black;
  padding: 10px;
}
</style> 
  

  <% else %>
    <li>
      <%= link_to "Sign up", sign_up_path %>
    </li>
    <li>
      <%= link_to "Login", sign_in_path %>
    </li>
  <% end %>

</ul>
<br>
