<h1><%= @credential.website %></h1>

<p><%= @credential.username %></p>
<p><%= @credential.password %></p>

<ul>
  <li><%= link_to "Edit", edit_credential_path(@credential) %></li>
  <li><%= link_to "Destroy", credential_path(@credential), data: 
    {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </li>
</ul>

<button onclick="history.back()">Go Back</button>